
/*футер*/
.text {
	font-size: 13px; 
	color: #fff;
	text-decoration: none;
	line-height: 1.5;
}

.btn{
	padding: 9px;
	border:1px solid;
	font-size: 13px;
	color: #fff;
	text-decoration: none; 
}


.footer_cp {
	color: #fff;
}

.footer_cp a {
	color: #fff;
}

.footer_Item_blok2 {
	font-size: 13px;
	padding-left: 40px;
		
}


.footer__menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
 
  	
}


.footer_Item_blok1{
 	margin-bottom: 80px;
}

.footer{
	padding-top: 35px;
	padding-bottom: 55px;
	height: auto;
    background-color: #000;
    font-size: 0;
   
}


.button_right{
   padding-right: 5px;
   padding-top: 15px;
   display: block;

   
   

}

/*футер к*/




@media screen and (min-width: 480px) {
   .button_right{
   padding-right: 55px;	
}

.footer_Item_blok2 {
	font-size: 18px;

}

.text{
	font-size: 18px;
}

.btn{
	font-size: 18px;
}





@media screen and (min-width: 768px) {


.footer_Item_blok1{
	display: flex;
}




.blok{
	width: 25%;
	height: auto;
	
	
}

.button_right{
	width: 25%;
	height: auto;
	margin-top: 15px;
	padding: 0;
}


.footer__menu{
	width: 100%;
	
}


.footer_Item_blok1{
	width: 100%;

}

.text {
	font-size: 12px; 

}

.btn{
	font-size: 12px;
	padding: 12px;
}

.footer_cp{
	font-size: 12px;
}



